.input {
	appearance: none;
	border: medium none;
	background-color: white;
	box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 0px 1px inset, rgba(67, 90, 111, 0.14) 0px 1px 2px inset;
	padding: 0 10px;
	height: 32px;
	width: 280px;
	line-height: 1;
	border-radius: 3px;
	font-size: 16px;
	color: rgb(66, 90, 112);
}
