{
	"semi": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"tabWidth": 4,
	"useTabs": true
}
