.tagContainer {
  position: relative;
  z-index: 5;

  &::after {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: rgba(255, 255, 255, 0.2);
    transform: scale(0);
    border-radius: 3px;
  }

  &:hover::after {
    animation: scale-easeInOutElastic .2s ease-in-out 0s 1 normal both;
  }
}

@keyframes scale-easeInOutElastic {
  0% {
    transform: scale(0)
  }
  40% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}
