@import "src/styles/vars";

.resume-container {
  background: white;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  Monaco, "Courier New", Courier, monospace;
  color: $deep_blue;

}

.heading {
  color: $raisin-black;
}

.intro {
  margin-bottom: 2rem;
}

.basic-information {
  font-size: .8rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  color: $raisin-black;
}

.work {
  .role-info {
    display: flex;
    color: $raisin-black;
    justify-content: space-between;
  }

  .position {
    font-size: .8rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    color: $raisin-black;
  }

  .highlight {
    font-size: .8rem;
    list-style: outside;
    margin-bottom: .5rem;
    color: rgba(0,0,0,.8);
  }
}

.skills {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;

  .skill {
    padding: .5rem;
    margin: 0 1rem 1rem 0;
    color: rgba($blue-jeans,.8);
    border: 2px solid rgba($blue-jeans,.8);
  }
}

