.cell {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(0, 0, 0, .3);
  background: rgb(175, 216, 248);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.cell:hover {
  background-color: rgb(70, 107, 136);
}

.cell-finish {
  background-color: red;
}

.cell-start {
  background-color: green;
}

.cell-visited {
  animation-name: visitedAnimation;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 30, 87, 0.75);
    border-radius: 50%;
  }

  25% {
    transform: scale(0.5);
    background-color: rgba(17, 104, 217, 0.75);
    border-radius: 50%;
  }

  50% {
    transform: scale(0.75);
    background-color: rgba(17, 104, 217, 0.75);
    border-radius: 50%;
  }

  75% {
    transform: scale(1.4);
    background-color: rgba(0, 96, 160, 0.75);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: rgba(1, 83, 160, 0.75);
  }
}

.cell-wall {
  background-color: rgb(20, 33, 61);
}

.cell-shortest-path {
  animation-name: zoomitbig;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: #1e53a7;
}

@keyframes zoomitbig {
 15% {
  transform-origin:center center;
  transform:scale(1.4, 1.2);
    background-color: #1e53a7;
 }
 40% {
  transform-origin:center center;
  transform:scale(0.9, 0.9);
    background-color: #1643c6;
 }
 75% {
  transform-origin:center center;
  transform:scale(1.08, 1);
    background-color: #258dda;
 }
 100% {
  transform-origin:center center;
  transform:scale(1, 1);
    background-color: #3ac2ff;
 }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}