@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1920px) {
    @content;
  }
}

$dark: #171923;
$deep_blue: #142848;
$cinnamon: #81332d;
$pumpkin: #c55530;
$light: #d8ebf4;
$ocean: #295fff;
$forest: #6b8f71;

$cultured: $light;
$russian-green: $forest;
$raisin-black: $dark;
$medium-slate-blue: #554fff;
$blue-jeans: $ocean;

$primary-text: rgba($dark, 0.8);
$secondary-text: rgba($light, 0.9);

$primary-bg: $raisin-black;
$secondary-bg: $raisin-black;

$links-hover: $medium-slate-blue;
$links: $blue-jeans;

$cubic-transition: cubic-bezier(0.47, 1.07, 0.46, 0.93);

$primary-gradient: linear-gradient(
  to right,
  #021b79,
  #0575e6
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// https://www.joshwcomeau.com/gradient-generator/
// $primary-gradient: linear-gradient(
//   45deg,
//   hsl(230deg 21% 11%) 0%,
//   hsl(228deg 25% 12%) 22%,
//   hsl(227deg 29% 13%) 33%,
//   hsl(225deg 33% 14%) 42%,
//   hsl(223deg 37% 15%) 50%,
//   hsl(222deg 42% 16%) 58%,
//   hsl(220deg 46% 17%) 67%,
//   hsl(219deg 51% 17%) 78%,
//   hsl(217deg 57% 18%) 100%
// );

// $primary-gradient: linear-gradient(
//   315deg,
//   hsl(0deg 100% 56%) 0%,
//   hsl(19deg 100% 59%) 20%,
//   hsl(28deg 100% 66%) 40%,
//   hsl(27deg 100% 67%) 60%,
//   hsl(16deg 100% 64%) 80%,
//   hsl(0deg 100% 64%) 100%
// );
