@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'src/styles/vars';
@import 'src/styles/typography';
@import 'src/styles/animations';

:root,
body,
#__next {
  background: #ffdab9;
  width: 100%;
  min-height: 100vh;
  color: rgba($primary-text, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 0;
  scrollbar-color: $secondary-bg $primary-bg;
  scrollbar-width: thin;
  padding: 0;
}

.post {
  a {
    text-decoration: underline;
  }

  section {
    padding: 2rem 0;
  }

  p > code {
    font-size: .9rem;
    letter-spacing: -.05rem;
    display: inline-block;
    padding: .1rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.68);
    color:rgba(255, 255, 255, 0.68)
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    tr {
      background: rgba(white, 0.5);
      &:nth-child(odd) {
        background: rgba(white, 0.4);
      }
    }
    th {
      background-color: rgba($ocean, .2);
      text-align: left;
      padding: 1.25rem;
      font-size: 1.25rem;
      border-bottom: 1px solid rgba($primary-text, 0.2);
    }
    td {
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid rgba($primary-text, 0.2);
    }
  }
}

.post-image {
  margin: 2rem auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.15),
    0 6.7px 5.3px rgba(0, 0, 0, 0.116), 0 12.5px 10px rgba(0, 0, 0, 0.107),
    0 22.3px 17.9px rgba(0, 0, 0, 0.1), 0 41.8px 33.4px rgba(0, 0, 0, 0.089),
    0 100px 80px rgba(0, 0, 0, 0.068);
  transition: transform 500ms ease, box-shadow 500ms ease;
  &:hover {
    transform: scale(0.995);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

img {
  max-width: 100%;
}
