.site_link {
	font-size: 1.2rem;
	&:hover {
		transform-origin:center center;
		animation: jello .3s linear;
	}
}

.Email { color: #00a6fb; }
.Resume {
  color: rgb(242, 7, 4);
}
.Stack_Overflow { color: #FF9900; }
.Dribbble { color: #ea4c89; }
.Linkedin { color: #2867b2; }
.Twitter { color: #1da1f2; }
.Github {
  color: white;
}

@keyframes jello {
	0% {
		transform:scale(1.68, 1.44);
	}
	33% {
		transform:scale(0.72, 0.72);
	}
	66% {
		transform:scale(1.296, 1);
	}
	100% {
		transform: none;
	}
}
