*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--primary-text: #393e46;
	--secondary-text: #39414e;
	--primary-bg: #fdfbfb;
	--secondary-bg: #ebedee;
	--links-hover: #5bc0be;
	--links: #6dddf9;
}

:root, body {
	background: var(--primary-bg);
	background: -webkit-linear-gradient(to bottom, var(--primary-bg), var(--secondary-bg));
	background: linear-gradient(to bottom, var(--primary-bg), var(--secondary-bg));
	color: var(--primary-text);
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 30px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	z-index: 0;
}

:root *, body * {
	z-index: 1;
}

/* smaller font size for iphone 8+ and smaller
 https://www.kylejlarson.com/blog/iphone-6-screen-size-web-design-tips/ */

@media (max-width: 414px) {
	body {
		font-size: 16px;
	}
}

.invert-fonts * {
	color: var(--primary-bg);
}

.invert-fonts h1, .invert-fonts h2, .invert-fonts h3, .invert-fonts h4, .invert-fonts h5, .invert-fonts h6, .invert-fonts h1 a, .invert-fonts h2 a, .invert-fonts h3 a, .invert-fonts h4 a, .invert-fonts h5 a, .invert-fonts h6 a {
	color: var(--secondary-bg);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	color: var(--secondary-text);
	margin-bottom: .25rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: var(--secondary-text);
}

p {
	margin-bottom: 1.5em;
}

a {
	text-decoration: none;
	color: var(--links);
	transition: color .2s ease;
}

a:hover {
	color: var(--links-hover)
}

.card {
	background: white;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: box-shadow .2s ease, transform .2s ease;
	cursor: pointer;
	transform: none;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transform: scale(.95);
}

.button {
	background: var(--primary-text);
	color: white;
	padding: .25em .5em;
	box-shadow: #1c1e1f 3px 3px 0;
	transition: box-shadow .2s ease;
	margin: 0 0 .5em 0;
}

.button:hover {
	color: white;
	box-shadow: #1c1e1f 5px 7px 0
}

blockquote {
	border-left: 5px solid #ddd;
	position: relative;
	padding-left: 1em;
	font-family: "Georgia", serif;
	font-size: 1em;
	font-weight: 500;
	color: #333;
}

blockquote.quote {
	position: relative;
	padding-left: 1em;
	font-family: "Georgia", serif;
	font-size: 1em;
	font-weight: 500;
	color: #333;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote.quote::before, blockquote::after {
	color: #c6c6c6;
	font-size: 2.0em;
	font-weight: 400;
	line-height: 0.1em;
}

blockquote.quote::before {
	position: absolute;
	left: 0;
	content: open-quote;
	margin-right: 0.15em;
	vertical-align: -0.15em;
}

blockquote::after {
	content: close-quote;
	vertical-align: -0.7em;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.white, .white.white {
	color: white
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.tac {
	text-align: center
}

.tal {
	text-align: left
}

.tar {
	text-align: right
}

.mbn {
	margin-bottom: 0
}

.mbxs {
	margin-bottom: .25em
}

.mbsm {
	margin-bottom: .5em
}

.mbmd {
	margin-bottom: .75em
}

.mblg {
	margin-bottom: 1em
}

.mbxlg {
	margin-bottom: 2em
}

.pbn {
	padding-bottom: 0
}

.pbxs {
	padding-bottom: .25em
}

.pbsm {
	padding-bottom: .5em
}

.pbmd {
	padding-bottom: .75em
}

.pblg {
	padding-bottom: 1em
}

.pbxlg {
	padding-bottom: 2em
}
