@mixin sm {
	@media (min-width: 640px) { @content; }
}

@mixin md {
	@media (min-width: 768px) { @content; }
}

@mixin lg {
	@media (min-width: 1024px) { @content; }
}

@mixin xl {
	@media (min-width: 1280px) { @content; }
}

@mixin xxl {
	@media (min-width: 1920px) { @content; }
}

$cultured: #eef0f2ff;
$russian-green: #6b8f71ff;
$raisin-black: #171923ff;
$medium-slate-blue: #8a4fffff;
$blue-jeans: #00a6fbff;

$primary-text: $cultured;
$secondary-text: darken($cultured, .2);
$primary-bg: $raisin-black;
$secondary-bg: $raisin-black;
$links-hover: $medium-slate-blue;
$links: $blue-jeans;

$cubic-transition:cubic-bezier(.47,1.07,.46,.93);
