@import "./vars.scss";

.svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	fill: rgba($medium-slate-blue, .1);
	z-index: -1;
}

@keyframes strokeanim {
	0% {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: 1000;
	}
}
