@import "../../../styles/vars.scss";

.nav {
	position: relative;
	z-index: 100;
	display: flex;
	color: $cultured;
	background: rgba(darken($cultured, 80), .8);
}

.link {
	text-align: center;
	color: $cultured;
	display: inline-block;
	margin-right: 1em;
	text-transform: uppercase;
	font-size: 16px;
	background: rgba($cultured, .1);
	border: 1px solid rgba($cultured, .2);
	transition: all .2s $cubic-transition;
	border-radius: 5px;

	a {
		letter-spacing: 1px;
		display: inline-block;
		color: inherit;
		padding: .5em 1em;
	}

	&:hover {
		border: 1px solid $blue-jeans;
		background: rgba($blue-jeans, .4);

		a {
			color: $cultured;
		}
	}
}
