@import 'src/styles/vars.scss';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, .9);
  font-size: .8rem;
  padding: 1rem 2rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #13233cdd;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  @include md {
    color: red;
    background-color: transparent;
    box-shadow: none;
  }
}

.navContent {
  display: flex;
}

.logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.fade {
  position: absolute;
  top: 100%;
}

.link {
  display: inline-block;
  text-transform: capitalize;
  border-radius: 3px;

  &.active {
    a {
      color: rgba(169, 169, 255, 0.9);
    }
  }


  a {
    display: inline-block;
    color: inherit;
    padding: 0.25em 0.5em;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .05);
    a {
      color: $ocean;
    }
  }
}
